page-wishlist {

._e2 {
     font-family: Raleway;
    background: #fff;
    color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: normal;
    margin: 0 auto 10px;
    max-width: 430px;
    min-height: 200px;
    padding: 80px 0;
    text-align: center;
}
._e3 {
    padding: 30px 0 0;
}
._e2 a {
    font-size: 16px;
    margin-top: 3px; 
    font-family: Raleway;
}
.success {
    color:  #a8011d !important;
     font-family: Raleway;
}
a {
     font-family: Raleway;
    background: transparent;
    font-size: 100%;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: baseline;
    background-color: transparent;
    color: #337ab7;
    text-decoration: none;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
.container {
    margin-top: 56px;
    border-top-width: 60px;
    padding-top: 50px; 
    font-family: Raleway;
}
}
