page-message {
.container
{
 
    font-family: Raleway;   
}
._e2 {
    background: #fff;
    color: rgba(0,0,0,.8);
    opacity: 0.5px;
    font-size: 18px;
    line-height: normal;
    margin: 0 auto 10px;
    max-width: 430px;
    min-height: 200px;
    padding: 80px 0;
    text-align: center;
}
._e3 {
    padding: 30px 0 0;
}
._e2 a {
}
.container {
    margin-top: 56px;
    border-top-width: 60px;
    padding-top: 50px;
}
.ico{
font-size:55px !important;
    color: hsla(0,0%,45.9%,.88);
}
}
