page-credit {
ion-card
{
	
    font-family: Raleway;				
}
.btn
{
    font-size:15px;
    font-style: bold;
    font-family:Raleway;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px; 
    margin-top: 0px;
    font-size: 15px;
    border: none;
    color: #fff;
    height: 50px;
    letter-spacing: 1px;
}.btn1
{
    background-color: white !important;
    color:#51cccc !important;
    font-style: bold;
    font-weight: 600;
    
    font-family:Raleway;
}
}
