<ion-header>
  <ion-toolbar color="navbar">
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu" ></ion-icon>
      </button>
      <ion-title style="font-weight:600;font-family: Raleway;">Home</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="cont">
    <!-- Register form with question submit to payment page -->
  <form  (ngSubmit)="logForm(homeForm)" #homeForm="ngForm"  class="list-form">
  <div class="form-group" [class.has-error]="first_name.invalid && first_name.touched" [class.has-success]="first_name.valid">
    <ion-item  style="margin-top: 0px;margin-bottom: 0px;">
      <ion-label floating style="margin-bottom: 0px;">
        First Name
      </ion-label>
      <ion-input  [(ngModel)]="user.first_name"
       #first_name="ngModel"
        class="form-control"
         name="first_name"
          type="text" required>
      </ion-input>
    </ion-item>
    <!-- <hr> -->
    </div>
    <p style="padding-left: 5px;color: red;margin-top: 3px;margin-bottom: 0px; font-family: Raleway; font-size:13px;"  class="help-block" *ngIf="first_name.errors?.required && first_name.touched">
    First Name is required
     </p>

    <div style="color: red" class="form-group" [class.has-error]="last_name.invalid && last_name.touched" [class.has-success]="last_name.valid">
    <ion-item style="margin-top: 0px;margin-bottom: 0px;" style="margin-top: 0px;margin-bottom: 0px;">
      <ion-label floating style="margin-bottom: 0px;">
        Last Name
      </ion-label>
      <ion-input  [(ngModel)]="user.last_name" name="last_name" #last_name="ngModel"  class="form-control" required type="text"></ion-input>
    </ion-item>
  </div>

    <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 0px; font-family: Raleway; " class="help-block" *ngIf="last_name.errors?.required && last_name.touched">
    Last Name is required
     </p>
    
    <div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">
      
    <ion-item style="margin-top: 0px;margin-bottom: 0px; font-family: Raleway;  font-family: Raleway; ">
      <ion-label for="select" floating>
     Gender</ion-label>
      <ion-select  [(ngModel)]="user.gender" class="  form-control" name="gender" #gender="ngModel" required>
        <ion-option value="Female" required>Female</ion-option>
        <ion-option value="Male" required>Male</ion-option>
      </ion-select>
    </ion-item>
    </div>

    <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 0px; font-family: Raleway; " class="help-block" *ngIf="gender.errors?.required && gender.touched">Select Your Gender...!
     </p>

   <div style="color: red" class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
    <ion-item style="margin-top: 0px;margin-bottom: 0px;">
      <ion-label floating>
      
        Email
      </ion-label>
      <ion-input [(ngModel)]="user.email"  [email]="user.email !== ''" class="form-control" #email="ngModel" name="email" pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$" required type="email"></ion-input>
    </ion-item>
  </div>
  <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 0px; font-family: Raleway; font-size:13px;" class="help-block" ng-show="myForm.email.$dirty && myForm.email.$invalid" *ngIf="email.errors?.required && email.touched">
  Email is required and it must be <i>john@mail.com</i>
  </p>
  <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 0px; font-family: Raleway; font-size:13px;" class="help-block" ng-show="myForm.email.$dirty && myForm.email.$invalid" *ngIf="email.errors?.email && email.touched">
  Email is invalid and it should be <i>john@mail.com</i>
 </p>
 <div class="form-group" [class.has-error]="horary_number.invalid && horary_number.touched" [class.has-success]="horary_number.valid">
   
    <ion-item style="margin-top: 0px;margin-bottom: 0px; font-family: Raleway; ">
      <ion-label floating>
        Horary
      </ion-label>
      <ion-input type="tel" maxLength="3" pattern="([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|24[0-9])" [(ngModel)]="user.horary_number" #horary_number="ngModel"  class="form-control" name="horary_number" required>
      </ion-input>
    </ion-item>
</div>
     <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 0px; font-family: Raleway; font-size:13px;" class="help-block" *ngIf="horary_number.errors?.required && horary_number.touched">
      Please Enter between (1-249)
     </p>
    <div class="form-group" [class.has-error]="question.invalid && question.touched" [class.has-success]="question.valid">
    
      <ion-item style="margin-top: 0px;margin-bottom: 0px; font-family: Raleway;">
        <ion-label floating>
          Question
        </ion-label>
        <ion-textarea type="text"[(ngModel)]="user.question" #question="ngModel"  class="form-control" name="question" required></ion-textarea>
      </ion-item>
    </div>
      <p style="padding-left: 5px;color: red;margin-top: 5px;margin-bottom: 2px; font-family: Raleway; font-size:13px;" class="help-block" *ngIf="question.errors?.required && question.touched">
        Enter your Question ?
      </p>
  
</form>
</div>
</ion-content>

<ion-footer>
   <button ion-button color="navbar" full class="btn" [disabled]="!homeForm.form.valid" (click)="logForm(user)" >
        Submit
    </button>
  </ion-footer> 