page-how {
	.card-content .card-content-md
	{
		padding:0px;
	}
._how
{
	font-size:18px !important;
	font-weight: 500;
}
._cont
{  
	position: static;
	white-space: normal;
	font-size: 14px!important;
    line-height: 1.255!important;
    font-family:Raleway;
  	max-width: 100%;
	width: 100%;
  	text-align: justify;
  	font-height:1.5px;
  	padding-bottom: 5px;
}
.contain
{
	   padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
}
