page-support {

    font-family:Raleway;
    .btn
{
    font-size:15px;
    background-color: #a8011d!important;
    border: 1px solid #a8011d !important;
    font-style: bold;
    font-family:Raleway;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px; margin-top: 0px; height:40px;    width: 100%;
    color: #fff;
    height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
}
}
